# VERCEL_TOKEN=""
# SESSION_SECRET_PROD=""
DATABASE_URL=""
APP_URL=""
# NODE_ENV="development"
# PORT="3000"
CRM_INTERNAL_TOKEN=""
SMTP_USER=""
SMTP_PASS=""
SANTI_API_KEY=""
GEMINI_API_KEY=""
SESSION_SECRET=""
HUNTER_API_KEY=""
GOOGLE_MAPS_PLATFORM_KEY=""
APIFY_API_TOKEN=""
GOOGLE_API_KEY=""